In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/kpmg-dataset/KPMG_VI_New_raw_data_update_final (3).xlsx

# KPMG Virtual Internship Experience

## Introduction
<hr />

<p>
    This is a virtual experience conducting a case study with KPMG, hosted throught The Forage, working on real-world problems in a professional setting.  
</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/KPMG_logo.svg" style="width:50%;" alternate="kmpg logo"/>

<a href="https://www.abs.gov.au/statistics?opendocument&ref=topBar">Australian Bureau website</a>

## 3.Scenario Company
<hr />

<p>
    Sprocket Central Pty Ltd , a medium size bikes & cycling accessories organisation, has approached Tony Smith (Partner) in KPMG’s Lighthouse & Innovation Team. Sprocket Central Pty Ltd is keen to learn more about KPMG’s expertise in its Analytics, Information & Modelling team.</p>

<p>Primarily, Sprocket Central Pty Ltd needs help with its customer and transactions data. The organisation has a large dataset relating to its customers, but their team is unsure how to effectively analyse it to help optimise its marketing strategy.
</p>

## 4. Dataset Summary
<hr />

The client provided KPMG with 4 datasets:

* Customer Demographic
* Customer Addresses
* Transactions data in the past 3 months
* New Customers

Customer Demographic has 4,000 customer's demographic information such as name, gender, past 3 years purchases, date of birth, job information, wealth segment, if they are deceased, if they own a car, tenure. Customer Addresses has their address information such as address, postcode, state, country and property valuation. Transactions table has their transactions data such as product information, transaction date, id, and product first sold date. The last table New Customers has new customer's demographic data which is almost the same as Customer Demographic table but with new customers.

## 5. Dataset Summary
<hr />

### 5.1 Task 1 - Data Quality Assessment
The first task is to review the data quality to ensure that it is ready for analysis in phase two using an email sent to the client. Remember to take note of any assumptions or issues that is needed to go back to the client on. As well as recommendations going forward to mitigate current data quality concerns.

The company gave a data quality framework table that is used as criteria and dimensions that is considered in ensuring data quality. The table wants to check for the data's accuracy, compeleteness, consistency, currency, relevancy, validity and uniqueness.

My email submission of the task:
Here

### 5.2 Task 2 - Data Insights
The second task is using the existing 3 datasets (Customer demographic, customer address and transactions) as a labelled dataset, please recommend which of these 1000 new customers should be targeted to drive the most value for the organisation.

In building this recommendation, we need to start with a PowerPoint presentation which outlines the approach which we will be taking. The client has agreed on a 3 week scope with the following 3 phases as follows - Data Exploration, Model Development and Interpretation.

Prepare a detailed approach for completing the analysis including activities – i.e. understanding the data distributions, feature engineering, data transformations, modelling, results interpretation and reporting. This detailed plan needs to be presented to the client to get a sign-off. Advise what steps you would take.

My presentation submission of the task:
Here

### 5.3 Task 3 - Data Insights and Presentation
The third task is developing a dashboard that we can present to the client at our next meeting. Display your data summary and results of the analysis in a dashboard (see tools/references for assistance). Maximum of 3 dashboard views/tabs, creativity in layout and presentation is welcome.

It is important to keep in mind the business context when presenting the findings:

What are the trends in the underlying data?
Which customer segment has the highest customer value?
What do you propose should be Sprocket Central Pty Ltd ’s marketing and growth strategy?
What additional external datasets may be useful to obtain greater insights into customer preferences and propensity to purchase the products?
Specifically, the presentation should specify who Sprocket Central Pty Ltd’s marketing team should be targeting out of the new 1000 customer list as well as the broader market segment to reach out to.

My Tableau Story presentation submission of the task:
Here (Ensure full screen to maximize the effectiveness of the tool)

In [2]:
# Datasets - transactions
transactions = pd.read_excel('/kaggle/input/kpmg-dataset/KPMG_VI_New_raw_data_update_final (3).xlsx', sheet_name=1, skiprows=[0])
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

#### Observations
* Not told, but would be interesting to find out where customers buy most of the products. Are sales more online vs. in-person
* What is the product that is being sold 
* Determine recency and frequency of purchase per customer

In [3]:
# new_customer_list 
new_customer_list = pd.read_excel('/kaggle/input/kpmg-dataset/KPMG_VI_New_raw_data_update_final (3).xlsx', sheet_name=2, skiprows=[0])
new_customer_list.head()
# drop "U" for unknown gender

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.56,0.7000,0.8750,0.743750,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.89,0.8900,1.1125,0.945625,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,1.01,1.0100,1.0100,1.010000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.87,1.0875,1.0875,1.087500,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.52,0.5200,0.6500,0.650000,4,4,1.703125

#### Observations
* Convert DOB to age or categorize it between young, adult, senior
* May be able to use past_3_years bike related purchases
* Find most popular state in Australia where sales are coming from
* What are the purchase difference between genders

In [4]:
customer_demographic = pd.read_excel('/kaggle/input/kpmg-dataset/KPMG_VI_New_raw_data_update_final (3).xlsx', sheet_name=3, skiprows=[0])
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

#### Observations
* Determine if car ownership is correlated to bike purchases
* what impact does wealth segment have 
* Convert DOB to age 
* Normalize gender to Male and Female

In [5]:
customer_address = pd.read_excel('/kaggle/input/kpmg-dataset/KPMG_VI_New_raw_data_update_final (3).xlsx', sheet_name=4, skiprows=[0])
customer_address.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

#### Observations 
* Can look at postcode geographically, but can also use postcode,state, and country to find median income in those areas to add feature to model dataset